openapi: 3.0.1
info:
  title: Lufthansa LH Public Cargo Operations API
  description: ''
  license:
    name: LH
    url: https://developer.lufthansa.com
  version: '1.0'
servers:
- url: https://api.lufthansa.com/v1
tags:
- name: Operations
paths:
  /operations/flightstatus/{flightNumber}/{date}:
    get:
      tags:
      - Operations
      summary: Lufthansa Flight Status
      description: Status of a particular flight (boarding, delayed, etc.).
      operationId: OperationsFlightstatusByFlightNumberAndDateGet
      parameters:
      - name: flightNumber
        in: path
        description: Flight number including carrier code and any suffix (e.g. 'LH400')
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: The departure date (YYYY-MM-DD) in the local time of the departure airport
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: 'http header: application/json or application/xml (Acceptable values are: "application/json", "application/xml")'
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)
        schema:
          type: string
      - name: offset
        in: query
        description: Number of records skipped. Defaults to 0
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - auth: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /operations/flightstatus/route/{origin}/{destination}/{date}:
    get:
      tags:
      - Operations
      summary: Lufthansa Flight Status by Route
      description: Status of flights between a given origin and destination on a given date.
      operationId: OperationsFlightstatusRouteDateByOriginAndDestinationGet
      parameters:
      - name: origin
        in: path
        description: 3-letter IATA airport (e.g. 'FRA')
        required: true
        schema:
          type: string
      - name: destination
        in: path
        description: 3-letter IATA airport code (e.g. 'JFK')
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: Departure date (YYYY-MM-DD) in local time of departure airport
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: 'http header: application/json or application/xml (Acceptable values are: "application/json", "application/xml")'
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)
        schema:
          type: string
      - name: offset
        in: query
        description: Number of records skipped. Defaults to 0
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - auth: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /operations/flightstatus/arrivals/{airportCode}/{fromDateTime}:
    get:
      tags:
      - Operations
      summary: Lufthansa Flight Status at Arrival Airport
      description: Status of all arrivals at a given airport up to 4 hours from the provided date time.
      operationId: OperationsFlightstatusArrivalsByAirportCodeAndFromDateTimeGet
      parameters:
      - name: airportCode
        in: path
        description: 3-letter IATA aiport code (e.g. 'ZRH')
        required: true
        schema:
          type: string
      - name: fromDateTime
        in: path
        description: Start of time range in local time of arrival airport (YYYY-MM-DDTHH:mm)
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: 'http header: application/json or application/xml (Acceptable values are: "application/json", "application/xml")'
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)
        schema:
          type: string
      - name: offset
        in: query
        description: Number of records skipped. Defaults to 0
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - auth: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /operations/flightstatus/departures/{airportCode}/{fromDateTime}:
    get:
      tags:
      - Operations
      summary: Lufthansa Flight Status at Departure Airport
      description: Status of all departures from a given airport up to 4 hours from the provided date time.
      operationId: OperationsFlightstatusDeparturesByAirportCodeAndFromDateTimeGet
      parameters:
      - name: airportCode
        in: path
        description: Departure airport. 3-letter IATA airport code (e.g. 'HAM')
        required: true
        schema:
          type: string
      - name: fromDateTime
        in: path
        description: Start of time range in local time of departure airport (YYYY-MM-DDTHH:mm)
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: 'http header: application/json or application/xml (Acceptable values are: "application/json", "application/xml")'
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)
        schema:
          type: string
      - name: offset
        in: query
        description: Number of records skipped. Defaults to 0
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - auth: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /operations/schedules/{origin}/{destination}/{fromDateTime}:
    get:
      tags:
      - Operations
      summary: Lufthansa Flight Schedules
      description: Scheduled flights between given airports on a given date.
      operationId: OperationsSchedulesFromDateTimeByOriginAndDestinationGet
      parameters:
      - name: origin
        in: path
        description: Departure airport. 3-letter IATA airport code (e.g. 'ZRH')
        required: true
        schema:
          type: string
      - name: destination
        in: path
        description: Destination airport. 3-letter IATA airport code (e.g. 'FRA')
        required: true
        schema:
          type: string
      - name: fromDateTime
        in: path
        description: Local departure date and optionally departure time (YYYY-MM-DD or YYYY-MM-DDTHH:mm). When not provided, time is assumed to be 00:01
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: 'http header: application/json or application/xml (Acceptable values are: "application/json", "application/xml")'
        required: true
        schema:
          type: string
      - name: directFlights
        in: query
        description: Show only direct flights (false=0, true=1). Default is false
        schema:
          type: boolean
      - name: limit
        in: query
        description: Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)
        schema:
          type: string
      - name: offset
        in: query
        description: Number of records skipped. Defaults to 0
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      security:
      - auth: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  securitySchemes:
    auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.lufthansa.com/v1/oauth/token
          tokenUrl: https://api.lufthansa.com/v1/oauth/token
          scopes:
            read:LH Open API: read access
